@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Oswald,'sans-serif';
}

.content{
    max-width: 1024px;
    width:100%;
    margin:0 auto;
}

.menu{
    padding-left:10px;
}

 .menu li{
    display: inline-block;
    list-style: none;
    color:#fff;
}

.menu a{
    text-decoration: none;
    color:#fff;
    font-size:1.3em;
    display:inline-block;
    padding:10px;
}

.menu a:hover{
    background-color: #fff;
    color:#3b7dd8;
}

.menu-container{
    background-color: #3b7dd8;
}

.logo-container img{
    width:200px;
    display: inline-block;
    padding:5px;
}

.cover{
    position:relative;
    min-height: 200px;
    height:100%;
    max-height:300px;
    overflow: hidden;
    background-image: url('../images/camarao2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
}

.cover .title{
    font-size:1.2em;
    font-weight:300;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:rgba(255,255,255,.6);
    text-align:center;
}

.cover img{
    width:100%;
    height:100%;
}

.general-description{
    padding:15px;
    text-align: justify;
    color:#666;
    float:left;
    width:70%;
    min-width:320px;
    margin:20px 0;
}

.general-description h2{
    color:#64a1f4;
}

.classification{
    list-style: none;
    min-width:280px;
    padding:20px;
    background-color: #F2F3F4;
    color:#666;
    float:right;
    margin:20px 0;
}

.classification p:last-child{
    text-align: center;
    padding:10px 0;
    
}

.classification p:last-child a{
    color:#049e0e;
    text-decoration: none;
}

.classification p:last-child a:hover{
    text-decoration: underline;
}


.classification h2{
    color:#64a1f4;
}

.classification strong{
    color:#64a1f4;
}

.classification li{
    list-style: none;
}

.related-content{
    width:100%;
    padding:10px;
    clear:both;
}

.related-content h2{
    color:#64a1f4;
    text-align: center;
}

.related-content h3{
    text-align: center;
}

.related-content article{
    float:left;
    width:323px;
    margin:0 auto;
    padding:20px;
    margin:5px;
    text-align: justify;
}

.related-content article:nth-child(odd){
    background-color: #F2F3F4;
    text-align: justify;
}

.related-content  article img{
    width:100%;
    margin:20px 0;
}

.related-content h3{
    color:#64a1f4;
}

.references{
    clear:both;
    width:100%;
    padding:20px;
    border-top:1px solid #ccc;
}

.references ul{
    padding-left:50px;
}

.references li{
    list-style:square;
    color:#64a1f4;
}

.references a{
    color:#3b7dd8;
    text-decoration:none;
}

.references a:hover{
    text-decoration: underline;
}

em{
    color:#049e0e;
}

footer{
    clear:both;
    height:100px;
    background-color: #F2F3F4;
}

footer .content{
    padding:40px 20px 20px 10px;
}

footer .content p{
    text-align: center;
}




